@import (reference) "../_app/site/site-variables";

.home
{
    display: flex;
    align-items: center;
    height: 100%;

    .home-welcome
    {
        h1
        {
            font-size: 90px;
            //font-size: 150px;
            //text-indent: -10px;
            text-indent: -6px;
            letter-spacing: -5px;
            margin-bottom: 5px;
        }

        p
        {
            max-width: 600px;
            margin-bottom: 15px;
            //font-size: 18px;
            font-size: 16px;
        }
        
        a
        {
            text-decoration: underline;
        }
    }

    @media (min-width: @screen-sm)
    {
        .home-welcome
        {
            h1
            {
                text-indent: -10px;
                font-size: 120px;
            }

            p
            {
                font-size: 18px;
            }
        }
    }
}