@import (reference) "../_app/site/site-variables";
@import "home-keyframes";

.home
{
    position: relative;
    display: flex;
    align-items: center;

    &:before
    {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/me.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: image-fade-in 1.2s 1s both;
    }

    .home-welcome
    {
        display: flex;
        overflow-x: hidden;

        .welcome-content
        {
            position: relative;
            display: flex;
            flex-direction: column;
            animation: welcome-to-right 0.5s 1s backwards;

            &:before
            {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 2px;
                background-color: @color-text;
                animation: cursor-pulse 0.7s 0.3s both, cursor-fade 0.3s 1.5s forwards;
            }
        }

        h1
        {
            font-size: 90px;
            text-indent: -6px;
            letter-spacing: -5px;
            margin-bottom: 10px;
            line-height: 0.8;
        }

        p
        {
            max-width: 570px;
            font-size: 16px;
        }

        a
        {
            text-decoration: underline;
        }
    }

    .home-footer
    {
        position: absolute;
        bottom: @breakpoint-edge-sm;
        animation: up 0.5s 1s both;

        .footer-social
        {
            display: flex;
            align-items: center;

            .icon
            {
                display: block;

                &:not(:last-child)
                {
                    margin-right: 30px;
                }

                &:hover
                {
                    opacity: 1;
                }

                svg
                {
                    display: block;
                    transition: fill 0.2s ease-out;
                }
            }

            .icon-facebook:hover svg
            {
                fill: #3b5998;
            }

            .icon-linkedin:hover svg
            {
                fill: #0177b5;
            }

            .icon-github
            {
                position: relative;
                top: 2px;

                &:hover svg
                {
                    fill: #ca9601;
                }
            }
        }
    }

    @media (min-width: @screen-sm)
    {
        .home-welcome
        {
            h1
            {
                text-indent: -9px;
                font-size: 150px;
                letter-spacing: -8px;
            }

            p
            {
                font-size: 18px;
            }
        }

        .home-footer .footer-social .icon:not(:last-child)
        {
            margin-right: 40px;
        }
    }

    @media (min-width: @screen-md)
    {
        .home-footer
        {
            bottom: @breakpoint-edge-md;
        }
    }

    @media (min-width: @screen-xl)
    {
        .home-footer
        {
            bottom: @breakpoint-edge-xl;
        }
    }
}