@import (reference) "../_app/site/site-variables";
@import "home-keyframes";

.home
{
    position: relative;
    display: flex;
    align-items: center;

    &:before
    {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/me.xs.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: image-fade-in 1s 1s both;
    }

    .home-welcome
    {
        position: relative;
        display: flex;
        max-width: 570px;
        overflow-x: hidden;
        animation: home-welcome-left 0.5s 1s both;

        .welcome-content
        {
            display: flex;
            flex-direction: column;
            animation: welcome-content-right 0.5s 1s both;

            h1
            {
                font-size: @title-size-xs;
                text-indent: -4px;
                letter-spacing: -5px;
                margin-bottom: 15px;
                line-height: 0.8;
            }

            p
            {
                font-size: @font-size-xs;
            }

            a
            {
                text-decoration: underline;
            }
        }

        &:before
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: @color-text;
            animation: cursor-pulse 0.7s 0.3s both, cursor-fade 0.8s 1s forwards;
        }
    }

    .home-footer
    {
        position: absolute;
        bottom: @breakpoint-edge-xs;
        animation: up 0.5s 1s both;

        .footer-social
        {
            display: flex;
            align-items: center;

            .icon
            {
                display: block;

                &:not(:last-child)
                {
                    margin-right: 35px;
                }

                &:hover
                {
                    opacity: 1;
                }

                svg
                {
                    display: block;
                    transition: fill 0.2s ease-out;
                }
            }

            .icon-facebook:hover svg
            {
                fill: #3b5998;
            }

            .icon-linkedin:hover svg
            {
                fill: #0177b5;
            }

            .icon-github
            {
                position: relative;
                top: 2px;

                &:hover svg
                {
                    fill: #ca9601;
                }
            }
        }
    }

    @media (min-width: @screen-sm)
    {
        .home-welcome .welcome-content
        {
            h1
            {
                text-indent: -9px;
                font-size: @title-size-sm;
                letter-spacing: -8px;
                margin-bottom: 25px;
            }

            p
            {
                font-size: @font-size-sm;
            }
        }

        .home-footer .footer-social .icon:not(:last-child)
        {
            margin-right: 40px;
        }
    }

    @media (min-width: @screen-md)
    {
        &:before
        {
            background-image: url('../../images/me.md.jpg');
        }

        .home-footer
        {
            bottom: @breakpoint-edge-md;
        }
    }

    @media (min-width: @screen-xl)
    {
        .home-footer
        {
            bottom: @breakpoint-edge-xl;
        }
    }
}