<header class="main-header">
    <div class="header-content container">
        <nav class="header-nav">
            <ul>
                <li class="active" onclick="App.changePage('home')"><a>Home</a></li>
                <li><a onclick="App.changePage('skills')">Skills</a></li>
                <li><a onclick="App.changePage('about')">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--<div class="header-options" onclick="App.toggleMenu()">-->
    <!--<span class="line"></span>-->
<!--</div>-->