<div class="main-menu">
    <div class="menu-content">

        <!-- Links navegação -->
        <nav class="menu-nav">
            <ul>
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Resume</a>
                </li>
            </ul>
        </nav>

        <!-- Idioma -->
        <div class="menu-language">
            <label for="menu-language">Language:</label>
            <select id="menu-language">
                <option value="">Inglês</option>
            </select>
        </div>

    </div>
</div>