@keyframes down
{
    0%
    {
        top: -@breakpoint-edge-sm;
    }

    100%
    {
        top: @breakpoint-edge-sm;
    }
}

@media (min-width: @screen-md)
{
    @keyframes down
    {
        0%
        {
            top: -@breakpoint-edge-md;
        }

        100%
        {
            top: @breakpoint-edge-md;
        }
    }
}

@media (min-width: @screen-xl)
{
    @keyframes down
    {
        0%
        {
            top: -@breakpoint-edge-xl;
        }

        100%
        {
            top: @breakpoint-edge-xl;
        }
    }
}

.main-header
{
    position: fixed;
    width: 100%;
    z-index: 5;
    animation: down 0.5s 1s both;

    .header-content
    {
        position: relative;
    }

    .header-nav
    {
        ul
        {
            display: flex;
        }

        li
        {
            display: none;

            a
            {
                position: relative;
                padding-bottom: 5px;
                font-size: @font-size-xs;

                &:after
                {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 3px;
                    background-color: @color-text;
                    bottom: -3px;
                    transition: width 0.3s ease-in-out;
                }
            }

            &:not(:last-child)
            {
                margin-right: 35px;
            }

            &.active
            {
                display: inline-flex;

                a:after
                {
                    width: 100%;
                }
            }
        }
    }

    &+.header-options
    {
        position: fixed;
        top: calc(@breakpoint-edge-sm);
        right: 20px;
        cursor: pointer;
        padding: 12px 0 12px 12px;
        z-index: 6;
        animation: down 0.5s 1s both;

        .line,
        .line:before,
        .line:after
        {
            content: "";
            display: block;
            width: 24px;
            height: 3px;
            background-color: @color-text;
            position: relative;
            border-radius: 1px;
            transition: background-color 0.5s ease-out, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .line:after
        {
            top: 4px;
        }

        .line:before
        {
            top: -7px;
        }
    }

    @media (min-width: @screen-xs)
    {
        .header-nav li
        {
            display: inline-flex;
        }
    }

    @media (min-width: @screen-sm)
    {
        .header-nav li a
        {
            font-size: 16px;
        }

        &+.header-options
        {
            right: 5%;
        }
    }

    @media (min-width: @screen-md)
    {
        &+.header-options
        {
            top: calc(@breakpoint-edge-md - 2px);
        }
    }

    @media (min-width: @screen-xl)
    {
        &+.header-options
        {
            top: calc(@breakpoint-edge-xl - 2px);
        }
    }
}

body.menu-active
{
    .header-options
    {
        .line
        {
            background-color: transparent;

            &:before
            {
                background-color: white;
                transform: translateY(7px) rotate(-45deg);
            }

            &:after
            {
                background-color: white;
                transform: translateY(-7px) rotate(45deg);
            }
        }
    }
}