.main-footer
{
    position: fixed;
    width: 100%;
    bottom: @bk-distance-edge-md;

    .footer-social
    {
        display: flex;
        align-items: center;

        .icon
        {
            display: block;
            
            &:not(:last-child)
            {
                margin-right: 40px;
            }

            &:hover
            {
                opacity: 1;
            }

            svg
            {
                display: block;
                transition: fill 0.2s ease-out;
            }
        }

        .icon-facebook:hover svg
        {
            fill: #3b5998;
        }

        .icon-linkedin:hover svg
        {
            fill: #0177b5;
        }

        .icon-github
        {
            position: relative;
            top: 2px;

            &:hover svg
            {
                fill: #666;
            }
        }
    }
}