.main-header
{
    position: fixed;
    width: 100%;
    top: @breakpoint-edge-md;

    .header-content
    {
        position: relative;
    }

    .header-nav
    {
        ul
        {
            display: flex;
        }

        li
        {
            display: inline-flex;

            a
            {
                padding-bottom: 5px;
            }

            &:not(:last-child)
            {
                margin-right: 30px;
            }

            &.active
            {
                a
                {
                    border-bottom: 3px solid @color-text;
                }
            }
        }
    }

    &+.header-options
    {
        position: absolute;
        top: calc(@breakpoint-edge-md - 2px);
        right: 73px;
        cursor: pointer;
        padding: 12px;
        z-index: 6;

        .line,
        .line:before,
        .line:after
        {
            content: "";
            display: block;
            width: 24px;
            height: 3px;
            background-color: @color-text;
            position: relative;
            border-radius: 1px;
            transition: background-color 0.5s ease-out, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .line:after
        {
            top: 4px;
        }

        .line:before
        {
            top: -7px;
        }

        &.active
        {
            .line
            {
                background-color: transparent;

                &:before
                {
                    background-color: white;
                    transform: translateY(7px) rotate(-45deg);
                }

                &:after
                {
                    background-color: white;
                    transform: translateY(-7px) rotate(45deg);
                }
            }
        }
    }
}