html {
  height: 100%;
}
body {
  height: 100%;
  color: #222;
  font-size: 18px;
  font-family: GTWalsheim, helvetica, arial, sans-serif;
  font-weight: 300;
}
main {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #222;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}
a:hover {
  opacity: 0.6;
}
h1 {
  margin: 0;
  line-height: 1;
}
p {
  margin: 0;
  line-height: 1.4;
}
@font-face {
  font-family: 'GTWalsheim';
  src: local('../../fonts/GT-Walsheim-Pro-Thin.otf'), url('../../fonts/GT-Walsheim-Pro-Ultra-Light.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'GTWalsheim';
  src: local('../../fonts/GT-Walsheim-Pro-Thin.otf'), url('../../fonts/GT-Walsheim-Pro-Thin.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'GTWalsheim';
  src: local('../../fonts/GT-Walsheim-Pro-Thin.otf'), url('../../fonts/GT-Walsheim-Pro-Regular.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'GTWalsheim';
  src: local('../../fonts/GT-Walsheim-Pro-Thin.otf'), url('../../fonts/GT-Walsheim-Pro-Bold.otf');
  font-weight: 400;
}
.container {
  max-width: 1750px;
  margin: 0 auto;
}
.main-header {
  position: fixed;
  width: 100%;
  top: 80px;
}
.main-header .header-content {
  position: relative;
}
.main-header .header-nav ul {
  display: flex;
}
.main-header .header-nav li {
  display: inline-flex;
}
.main-header .header-nav li:not(:last-child) {
  margin-right: 30px;
}
.main-header .header-nav li.active a {
  border-bottom: 3px solid #222;
}
.main-header .header-nav li a {
  padding-bottom: 5px;
}
.main-header .header-options {
  position: absolute;
  right: -12px;
  top: 0;
  cursor: pointer;
  padding: 12px;
}
.main-header .header-options:hover .line {
  opacity: 0.6;
}
.main-header .header-options .line {
  transition: opacity 0.2s ease-out;
}
.main-header .header-options .line,
.main-header .header-options .line:before,
.main-header .header-options .line:after {
  content: "";
  display: block;
  width: 24px;
  height: 3px;
  background-color: #222;
  position: relative;
  border-radius: 1px;
}
.main-header .header-options .line:after {
  top: 4px;
}
.main-header .header-options .line:before {
  top: -7px;
}
.main-footer {
  position: fixed;
  width: 100%;
  bottom: 80px;
}
.main-footer .footer-social {
  display: flex;
  align-items: center;
}
.main-footer .footer-social .icon {
  display: block;
}
.main-footer .footer-social .icon:not(:last-child) {
  margin-right: 40px;
}
.main-footer .footer-social .icon:hover {
  opacity: 1;
}
.main-footer .footer-social .icon svg {
  display: block;
  transition: fill 0.2s ease-out;
}
.main-footer .footer-social .icon-facebook:hover svg {
  fill: #3b5998;
}
.main-footer .footer-social .icon-linkedin:hover svg {
  fill: #0177b5;
}
.main-footer .footer-social .icon-github {
  position: relative;
  top: 2px;
}
.main-footer .footer-social .icon-github:hover svg {
  fill: #666;
}
