<!-- Skills -->
<section class="skills">
    <div class="container">

        <div class="skills-container">

            <div class="skills-jobs">
                <h1>Skills</h1>
                <p>Talvez falar aqui brevemente os lugares que trabalhei como mstech e esapiens, quanto tempo trabalhei e quais ferramentas e tecnologias eu usava</p>
            </div>

            <div class="skills-bars">
                <ul>
                    <li>
                        <span class="label">Javascript</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">HTML5</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">CSS3</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">AngularJS</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">LESS</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">Git</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">PHP</span>
                        <span class="bar"></span>
                    </li>
                    <li>
                        <span class="label">MySQL</span>
                        <span class="bar"></span>
                    </li>
                </ul>
            </div>


        </div>

    </div>
</section>

<section class="skills" style="background-color: #f1b107">
    <div class="container">

        <div class="skills-jobs">
            <h1>About</h1>
        </div>

    </div>
</section>