<section class="skills">
    <div class="skills-container container">

        <ul class="skills-list">
            <li>
                <canvas id="javascript" width="180" height="180"></canvas>
                <span class="javascript-label">Javascript</span>
            </li>
            <li>
                <canvas id="angular1" width="180" height="180"></canvas>
                <span class="angular1-label">Angular 1.x</span>
            </li>
            <li>
                <canvas id="angular2" width="180" height="180"></canvas>
                <span class="angular2-label">Angular 2.x</span>
            </li>
            <li>
                <canvas id="react" width="180" height="180"></canvas>
                <span class="react-label">React</span>
            </li>
            <li>
                <canvas id="gulp" width="180" height="180"></canvas>
                <span class="gulp-label">Grunt/Gulp</span>
            </li>
            <li>
                <canvas id="html5" width="180" height="180"></canvas>
                <span class="html5-label">HTML5</span>
            </li>
            <li>
                <canvas id="css3" width="180" height="180"></canvas>
                <span class="css3-label">CSS3</span>
            </li>
            <li>
                <canvas id="less" width="180" height="180"></canvas>
                <span class="less-label">LESS/SASS</span>
            </li>
            <li>
                <canvas id="git" width="180" height="180"></canvas>
                <span class="git-label">GIT</span>
            </li>
            <li>
                <canvas id="php" width="180" height="180"></canvas>
                <span class="php-label">PHP</span>
            </li>
        </ul>

    </div>
</section>