<!-- Skills -->
<section class="skills">
    <div class="container">

        <div class="skills-container">

            <div class="skills-info">
                <h1>Skills</h1>
                <p>Talvez falar aqui brevemente os lugares que trabalhei como mstech e esapiens, quanto tempo trabalhei e quais ferramentas e tecnologias eu usava</p>
            </div>

            <div class="skills-bars">
                <ul>
                    <li>
                        <canvas id="canvas" width="150" height="150"></canvas>
                        <span>HTML5</span>
                    </li>

                </ul>
            </div>


        </div>

    </div>
</section>

<!--<section class="skills" style="background-color: #f1b107">-->
    <!--<div class="container">-->

        <!--<div class="skills-jobs">-->
            <!--<h1>About</h1>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->